{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}

        <label>{{form.title.label}}</label>
        {{form.title}}

        <label>{{form.description.label}}</label>
        {{form.description}}

        {{form.complete.label}} {{form.complete}}
        <input style="display: flex; margin-top: 1rem;" class="button" type="submit" value="Submit">
    </form>
</div>

{% endblock content %}